<div ui-view>
<h3>Moederborden</h3>
Zoeken: <input type="text" ng-model="nm.name"></input>
<br><br>
<input type="checkbox" ng-model="socket775"/>Socket 775<br>
<input type="checkbox" ng-model="socket1150"/>Socket 1150<br>
<input type="checkbox" ng-model="socket1155"/>Socket 1155<br>
<input type="checkbox" ng-model="socketAM3"/>Socket AM3<br>
<br><br>
Sorteer op:<br>
<select ng-model="orderProp">
  <option value="id">Id</option>
  <option value="naam">Naam</option>
  <option value="socket">Socket</option>
  <option value="type">Type</option>
</select>
<br><br>
<table>
    <tr>
		<th>Id</th>
		<th>Naam</th>
		<th>socket</th>
        <th>Type</th>
		<th>Meer info</th>
    </tr>
	<tr ng-repeat="pc_item in moederborden | orderBy:orderProp | filter:nm.name | filter:socket775 | filter:socket1150 | filter:socket1155 | filter:socketAM3">
        <td>{{ pc_item.id }}</td>
		<td>{{ pc_item.naam }}</td>
        <td>{{ pc_item.socket }}</td>
		<td>{{ pc_item.type }}</td>
		<td><a ng-click="item_content(pc_item); itemSetter(pc_item)">Details</a></td>
	</tr>
</table>

</div>
<!-- <p>Array (ontwikkelomgeving):</p>
<pre>{{ moederborden | json }}</pre> -->


